<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876016519305-0i6p7vdurrstamft7aqh7nifu6ebiaqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876016519305-0i6p7vdurrstamft7aqh7nifu6ebiaqu</string>
	<key>API_KEY</key>
	<string>AIzaSyAGEpZF-mEO_cHspLls7NAJ912Qzt3XbLE</string>
	<key>GCM_SENDER_ID</key>
	<string>876016519305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>soteria-af3d3</string>
	<key>STORAGE_BUCKET</key>
	<string>soteria-af3d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876016519305:ios:6cd0212a82ceb989555e58</string>
</dict>
</plist>